*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.main {
  width: 430px;
  height: 932px;
  background-color: #091723;
  padding: 10px;
  
}

.profile-info {
  text-align: center;
}

.intro {
  margin-top: 24px;
  width: 349px;
  font-size: 32px;
  color:rgba(255, 255, 255, 1);
  font-style: italic;
  margin-left: 38px;
}

.names{
  color: #17D6E3;
  font-weight: 700px;
  width: 349px;
  font-style: italic; 
  margin-top: 40px;
  margin-bottom: 15px;
  padding-left: 23px;
  
}

h2 {
  width: 100px;
  height: 25px;
  margin-left: 134px;
  font-size: 20px;
  color: #E83939;
  margin-right:50px;
  font-style: italic;

}
.circle{
  margin-top: 10px;
}
.profile {
  width: 212px;
  height: 227px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  
}
.white{
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 257.14px;
  height: 252.48px;
  margin-left: 55px;
  margin-bottom: 45px;

}
.aqua{
  background-color: #03D9FF;
  width: 250px;
  height: 227px;
  border-radius: 50%;
  margin-left: 3px;
  border: solid #FFFFFF;
  padding-bottom: 235px;
}

.contact{
margin-top: 15px;
}

.fa-phone{
  color: #237FF8;
  align-items: center;
  padding-top: 10px;
}

.number{
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  margin-left: 30px;
  font-style: italic;
  margin-top: -17px;
  margin-bottom: 30px;

}

.address{
  margin-top: 20px;  
}

.fa-home{
  color: #237FF8;
  padding-top: 10px;
}

.home{
  height: 24px;
  width: 208px;
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  margin-left: 30px;
  font-style: italic;
  margin-top: -18px;
}

.gmail{
  margin-top: 20px;
}

.fa-envelope{
  color: #237FF8;
  padding-top: 10px;
}

.email{
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  margin-left: 30px;
  font-style: italic;
  margin-top: -18px;
}

.main-container{
  height: 157px;
  width: 185px;
  background-color: rgba(230, 204, 233, 1);
  border-radius: 14px;
  margin-top: 30px;
  margin-left: 14px;
}
.skill-container {
  width: 150px;
  margin-bottom: 20px;

}

.skill-title {
  font-weight: bold;
  margin-bottom: 1px;
  font-size: 10px;
  padding-top: -6px;
  padding-left: 8px;
  font-style: italic;
  color: #5F2B2B;
}

.skill-bar {
  width: 84px;
  background-color: #000000;
  margin-left: 72px;
  margin-top: -6.5px;
}

.skill-level {
  height: 0.50px;
  padding-right: 10px;
}
.skill-titles{
  font-size: 7px;
  font-weight: bold;
  font-style: italic;
  padding-left: 4px;
  color: #5F2B2B;

}
.skills{
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  margin-left: 62px;
  margin-bottom: 10px;
  padding-top: 10px;
  color: #676D35;
}

.skill-html {
  width: 50%;
  background-color: #1660FF; 
}
.skill-css { 
  width: 30%; 
  background-color: #1660FF; 
}
.skill-js { 
  width: 30%; 
  background-color: #1660FF; 
}
.skill-bootsrap 
{ width: 30%; 
  background-color: #1660FF; 
}
.skill-php { 
  width: 30%; 
  background-color: #1660FF; 
}

.Subjects{
  height: 157px;
  width: 185px;
  background-color: #E6CCE9;
  border-radius: 28px;
  margin-left: 220px;
  margin-top: -157px;    
}

.major{
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  margin-left: 52px;
  margin-bottom: 10px;
  padding-top: 17px;
  color: #1660FF;
}

.first{
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  color: #9C0707;
  padding-top: 4px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.programming{
  color: #676D35;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
}

.second{
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  color: #9C0707;
  padding-top: 10px;
  margin-left: 6px
}

.networking1{
  color: #676D35;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
}

.third{
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  color: #9C0707;
  padding-top: 10px;
  margin-left: 10px
}

.networking2{
  color: #676D35;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .main {
    width: 768%;
    height: 1024px;
    background-color: #091723;
    padding: 10px;
    
  }
  
  .profile-info {
    text-align: center;
  }
  
  .intro {
    margin-top: 24px;
    width: 700px;
    font-size: 90px;
    color:rgba(255, 255, 255, 1);
    font-style: italic;
    margin-left: 38px;
  }
  
  .names{
    color: #17D6E3;
    font-weight: 700px;
    width: 700px;
    font-style: italic; 
    margin-top: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 70px;

    
  }
  
  h2 {
    width: 300px;
    height: 25px;
    margin-left: 134px;
    font-size: 50px;
    color: #E83939;
    margin-right:50px;
    font-style: italic;
  
  }
  .circle{
    margin-top: 10px;
  }
  .profile {
    width: 212px;
    height: 227px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    
  }
  .white{
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 257.14px;
    height: 252.48px;
    margin-left: 55px;
    margin-bottom: 45px;
  
  }
  .aqua{
    background-color: #03D9FF;
    width: 250px;
    height: 227px;
    border-radius: 50%;
    margin-left: 3px;
    border: solid #FFFFFF;
    padding-bottom: 235px;
  }
  
  .contact{
  margin-top: 15px;
  }
  
  .fa-phone{
    color: #237FF8;
    align-items: center;
    padding-top: 10px;
  }
  
  .number{
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    margin-left: 30px;
    font-style: italic;
    margin-top: -17px;
    margin-bottom: 30px;
  
  }
  
  .address{
    margin-top: 20px;  
  }
  
  .fa-home{
    color: #237FF8;
    padding-top: 10px;
  }
  
  .home{
    height: 24px;
    width: 208px;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    margin-left: 30px;
    font-style: italic;
    margin-top: -18px;
  }
  
  .gmail{
    margin-top: 20px;
  }
  
  .fa-envelope{
    color: #237FF8;
    padding-top: 10px;
  }
  
  .email{
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    margin-left: 30px;
    font-style: italic;
    margin-top: -18px;
  }
  
  .main-container{
    height: 157px;
    width: 185px;
    background-color: rgba(230, 204, 233, 1);
    border-radius: 14px;
    margin-top: 30px;
    margin-left: 14px;
  }
  .skill-container {
    width: 150px;
    margin-bottom: 20px;
  
  }
  
  .skill-title {
    font-weight: bold;
    margin-bottom: 1px;
    font-size: 10px;
    padding-top: -6px;
    padding-left: 8px;
    font-style: italic;
    color: #5F2B2B;
  }
  
  .skill-bar {
    width: 84px;
    background-color: #000000;
    margin-left: 72px;
    margin-top: -6.5px;
  }
  
  .skill-level {
    height: 0.50px;
    padding-right: 10px;
  }
  .skill-titles{
    font-size: 7px;
    font-weight: bold;
    font-style: italic;
    padding-left: 4px;
    color: #5F2B2B;
  
  }
  .skills{
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    margin-left: 62px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: #676D35;
  }
  
  .skill-html {
    width: 50%;
    background-color: #1660FF; 
  }
  .skill-css { 
    width: 30%; 
    background-color: #1660FF; 
  }
  .skill-js { 
    width: 30%; 
    background-color: #1660FF; 
  }
  .skill-bootsrap 
  { width: 30%; 
    background-color: #1660FF; 
  }
  .skill-php { 
    width: 30%; 
    background-color: #1660FF; 
  }
  
  .Subjects{
    height: 157px;
    width: 185px;
    background-color: #E6CCE9;
    border-radius: 28px;
    margin-left: 220px;
    margin-top: -157px;    
  }
  
  .major{
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    margin-left: 52px;
    margin-bottom: 10px;
    padding-top: 17px;
    color: #1660FF;
  }
  
  .first{
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    color: #9C0707;
    padding-top: 4px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  
  .programming{
    color: #676D35;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
  
  .second{
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    color: #9C0707;
    padding-top: 10px;
    margin-left: 6px
  }
  
  .networking1{
    color: #676D35;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
  
  .third{
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    color: #9C0707;
    padding-top: 10px;
    margin-left: 10px
  }
  
  .networking2{
    color: #676D35;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
}
