@media (max-width: 1280px){
  body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .main {
    width: 1280px;
    height: 1025px;
    background-color: #091723;
  }
  
  .intro {
    width: 500px;
    font-size: 60px;
    color:rgba(255, 255, 255, 1);
    font-style: italic;
    margin-left: 130px;
    margin-top: 30px;
  }
  
  .names{
    color: #17D6E3;  
    width: 660px;
    font-style: italic; 
    margin-top: 70px;
    margin-bottom: 15px;
    margin-left: 40px;
    font-size: 60px;
    
  }
  
  h2 {
    width: 228px;
    font-size: 50px;
    color: #E83939;
    font-style: italic;
    margin-left: 300px;
  
  }
  .circle{

  margin-top: 60px;

  }
  .profile {
    width: 564px;
    height: 553px;
    border-radius: 2%;
    margin-top: 85px;
    object-fit: cover;
    

  }
  .white{
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 650px;
    height: 500px;
    margin-left: 40px;
    margin-top: 100px;
    

  }
  .aqua{
    background-color: #03D9FF;
    width: 527px;
    height: 522px;
    border-radius: 50%;

  
  }
  .all-info{
    
  margin-left: 700px;
  margin-top: -850px;
  font-size: 30px;

  }
  
  .contact{
  margin-top: 15px;
  }
  
  .fa-phone{
    color: #237FF8;
    align-items: center;
    padding-top: 10px;
  
  }
  
  .number{
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    margin-left: 30px;
    font-style: italic;
    margin-top: -17px;
    margin-bottom: 30px;
  
  }
  
  .address{
    margin-top: 20px;  
  }
  
  .fa-home{
    color: #237FF8;
    padding-top: 10px;
  }
  
  .home{
    height: 24px;
    width: 458px;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    margin-left: 32px;
    font-style: italic;
    
  }
  
  .gmail{
    margin-top: 20px;
  }
  
  .fa-envelope{
    color: #237FF8;
    padding-top: 10px;
  }
  
  .email{
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    margin-left: 30px;
    font-style: italic;
    margin-top: -18px;
  }
  .skill-box{
    display: inline-block;
    margin-left: 600px;
    margin: 0;
    

  
    }
  .main-container{
    height: 305px;
    width: 337px;
    background-color: rgba(230, 204, 233, 1);
    border-radius: 14px;
    margin-top: 120px;
    margin-left: 200px;
  
  
  }
  .skill-container {
    width: 150px;
    margin-bottom: 20px;
  
  }
  
  .skill-title {
    font-weight: bold;
    margin-bottom: 1px;
    font-size: 10px;
    padding-top: -6px;
    padding-left: 8px;
    font-style: italic;
    color: #5F2B2B;
  }
  
  .skill-bar {
    width: 84px;
    background-color: #000000;
    margin-left: 72px;
    margin-top: -6.5px;
  }
  
  .skill-level {
    height: 0.50px;
    padding-right: 10px;
  }
  .skill-titles{
    font-size: 7px;
    font-weight: bold;
    font-style: italic;
    padding-left: 4px;
    color: #5F2B2B;
  
  }
  .skills{
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    margin-left: 62px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: #676D35;
  }
  
  .skill-html {
    width: 50%;
    background-color: #1660FF; 
  }
  .skill-css { 
    width: 30%; 
    background-color: #1660FF; 
  }
  .skill-js { 
    width: 30%; 
    background-color: #1660FF; 
  }
  .skill-bootsrap 
  { width: 30%; 
    background-color: #1660FF; 
  }
  .skill-php { 
    width: 30%; 
    background-color: #1660FF; 
  }
  .sub-box{
    margin: 0;
    display: inline-block;
    padding: 0;
  
  
    }
  .Subjects{
    height: 305px;
    width: 356px;
    background-color: #E6CCE9;
    border-radius: 28px;


  }
  
  .major{
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    margin-left: 52px;
    margin-bottom: 10px;
    padding-top: 17px;
    color: #1660FF;
  }
  
  .first{
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    color: #9C0707;
    padding-top: 4px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  
  .programming{
    color: #676D35;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
  
  .second{
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    color: #9C0707;
    padding-top: 10px;
    margin-left: 6px
  }
  
  .networking1{
    color: #676D35;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
  
  .third{
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    color: #9C0707;
    padding-top: 10px;
    margin-left: 10px
  }
  
  .networking2{
    color: #676D35;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
  }
}